{% extends 'base_admin.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <style>
        .not-found-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-top: 20px;
        }

        img {
            max-width: 100%; /* Ensures the image is responsive */
            height: auto;
        }
    </style>

    <div class="not-found-container">
        <h1>{% trans 'Oops! Page not found.' %}</h1>
        <img src="{% static 'images/404.gif' %}" alt="{% trans '404 Not Found' %}"/>
        <p>{% trans "We're sorry, but the page you were looking for doesn't exist." %}</p>
    </div>
{% endblock %}